{% extends "base.html" %}

{% block title %}Acerca de...{% endblock %}

{% block content %}
  <div class="text-center mb-5">
    <h2 class="text-primary">Acerca de los Creadores</h2>
    <p class="lead">Conoce un poco sobre los autores de esta página web</p>
  </div>

  <div class="card-group">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Raymundo Alvarez Martinez</h5>
      <p class="card-text">Me gusta mucho escribir, también me gusta un poco leer. Antes leía mucho. Otro gusto que tengo es como ver historias asi de terror aunque tengo problemas para dormir por eso. También me gusta estar con mi novio <3 </p>
      <p class="card-text"><small class="text-body-secondary">Colaborador en el desarrollo de la página</small></p>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Adrian Alexis Monreal</h5>
      <p class="card-text">Me gusta demasiado escuchar musica, estoy haciendolo todo el dia y no me canso nunca, puedo escuchar de todo y disfrutarlo sin ningun problema, tambien me gustan los videojuegos y disfruto mucho arreglar errores en códigos</p>
      <p class="card-text"><small class="text-body-secondary">Colaborador en el desarrollo de la página</small></p>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Nuestra colaboración en la página</h5>
      <p class="card-text">Alexis se encargó principalmente de la logica y funciones de la página y Raymundo de la parte visual y diseño haciendo el trabajo mas ligero el uno al otro y colaborando en todo lo posible juntos</p>
      <p class="card-text"><small class="text-body-secondary">Colaboradores</small></p>
    </div>
  </div>
</div>
{% endblock %}