{% extends "base.html" %}

{% block title %}NutriApp{% endblock %}

{% block content %}

<div class="text-center mt-4">
  <img src="{{ url_for('static', filename='img/food.png') }}"
       alt="NutriApp"
       class="img-fluid"
       style="max-width: 150px;">
</div>

<nav class="navbar bg-primary rounded-4 shadow p-3 d-flex justify-content-center align-items-center mt-3"
     style="max-width: 600px; margin: 0 auto;">
  <div class="container-fluid justify-content-center">
    <form class="d-flex" role="search" action="{{ url_for('buscar_alimento') }}" method="POST" style="max-width: 400px; margin: 0 auto;">
      <input class="form-control me-2" type="search" name="alimentos" placeholder="Ejemplo: apple, rice, milk..." aria-label="Search">
      <button class="btn btn-warning fw-bold" type="submit">Buscar</button>
    </form>
  </div>
</nav>

{% for message in get_flashed_messages(with_categories=true) %}
  <div class="alert alert-{{ message[0] }} mt-3 text-center">
    {{ message[1] }}
  </div>
{% endfor %}

{% endblock %}