{% extends "base.html" %}

{% block title %}Consejo diario{% endblock %}

{% block content %}
<div class="text-center bg-white border-3 rounded shadow-lg p-4 mt-5" style="border: 3px solid #03045e;">

    <h4 class="mb-4">Lo estás haciendo muy bien, continúa así! ( ദ്ദി ˙ᗜ˙ )</h4>

    <h5 class="mb-4">{{ consejo }}</h5>

    <div class="text-center mb-4">
        <img src="{{ url_for('static', filename='imgs/feliz.webp') }}" alt="Consejo" class="img-fluid" style="max-height: 250px;">
    </div>

    <form method="POST" action="{{ url_for('consejo') }}">
        <button type="submit" class="btn btn-dark">
            Obtener otro consejo ( ˵ •̀ ᴗ •́˵)
        </button>
    </form>

</div>
{% endblock %}
