{% extends "base.html" %}

{% block title %}Ejercicios recomendados{% endblock %}

{% block content %}
<body class="bg-light">

<div class="container mt-5">
    <div class="card shadow p-4">
        <h3 class="text-center mb-4">Ejercicios recomendados ᕙ( •̀ ᗜ •́ )ᕗ</h3>

        <h4 class="text-center mb-3">Selecciona una opción</h4>

        <div class="dropdown">
            <button class="btn btn-dark dropdown-toggle w-100" type="button" data-bs-toggle="dropdown">
                Plan de ejercicios
            </button>
            <ul class="dropdown-menu w-100">
                <li><a class="dropdown-item" href="#">Ligero</a></li>
                <li><a class="dropdown-item" href="#">Moderado</a></li>
                <li><a class="dropdown-item" href="#">Fuerte</a></li>
            </ul>
        </div>

    </div>
</div>
{% endblock %}