{% extends "base.html" %}

{% block title %}Calculadora de Tasa Metabólica Basal (TMB){% endblock %}

{% block content %}
<body class="bg-light">

    <div class="container mt-5">
        <div class="card shadow p-4">

            <h3 class="text-center mb-4">Selecciona un plan de comidas (๑ᵔ⤙ᵔ๑)</h3>

            <form>

                <div class="mb-3">
                    <select class="form-select">
                        <option selected disabled>Elegir plan</option>
                        <option value="deficit">Perdida de peso</option>
                        <option value="mantenimiento">Mantenimiento</option>
                        <option value="superavit">Ganancia muscular</option>
                    </select>
                </div>

                <button type="submit" class="btn btn-dark w-100">Continuar</button>

            </form>

        </div>
    </div>
{% endblock %}