{% extends "base.html" %}

{% block title %}Planes de comida{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="card border-3 rounded shadow-lg p-4" style="border: 3px solid #03045e;">

        <h3 class="text-center mb-4">Selecciona un plan de comidas (๑ᵔ⤙ᵔ๑)</h3>

        <div class="text-center mb-4">
        <img src="{{ url_for('static', filename='imgs/comida1.png') }}" class="img-fluid" style="max-width: 200px;" alt="Descripción">
        </div>

        <form action="{{ url_for('plan') }}" method="POST">

            <div class="mb-3">
                <select class="form-select" name="plan" required>
                    <option selected disabled>Elegir plan</option>
                    <option value="deficit">Pérdida de peso</option>
                    <option value="mantenimiento">Mantenimiento</option>
                    <option value="superavit">Ganancia muscular</option>
                </select>
            </div>

            <button type="submit" class="btn btn-dark w-100">Continuar</button>
        </form>

        {% if recetas %}
        <hr>
        <h4 class="text-center mt-3">Recetas sugeridas</h4>

        <ul class="list-group mt-3">
            {% for r in recetas %}
            <li class="list-group-item">
                <strong>{{ r.nombre }}</strong><br>
                {{ r.descripcion }}
            </li>
            {% endfor %}
        </ul>
        {% endif %}

    </div>
</div>
{% endblock %}